body {
background-color: #12def1;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #8cbbde;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}